.MusicPlayer {
	background: none;
}

.MusicPlayerContent {
	background: $surface0;
	color: $text;

	border-radius: 8px;
	padding: 4px;
}

.ClosePlayerButton {
	color: $surface0;
	background: $red;

	font-size: 18px;
	padding: 4px;

	border-radius: 30px;
}

.CurrentPlayerContent {
	font-size: 16px;

	.PlayerIcon {
		margin: 0 10px 0 8px;
	}

	.PlayerTitle {
		font-weight: 500;
	}
}

.CurrentDeviceContent {
	background: $lavender;
	color: $surface0;

	padding: 4px 12px;
	margin-right: 6px;
	border-radius: 30px;

	.Text {
		font-size: 14px;
	}

	.Icon {
		font-size: 18px;
		margin-right: 10px;
	}
}

.CurrentlyPlayingContent {
	margin-top: 12px;

	.MusicPicture {
		margin: 0 10px 0 8px;

		.AlbumImage {
			background: $surface1;

			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			min-height: 64px;
			min-width: 64px;

			border-radius: 12px;
		}

		.AlbumIcon {
			min-height: 64px;
			min-width: 64px;

			background: $surface1;
			font-size: 24px;

			border-radius: 12px;
		}
	}

	.MusicInfo {
		font-size: 16px;
		
		.MusicTitle {
			font-weight: 800;
		}

		.MusicAuthor {
			color: $subtext0;
			font-size: 14px;
		}
	}
}

.MediaControlsContent {
	font-size: 24px;
	padding: 0 0 0 8px;

	.MediaProgress {
		all: unset;

		* {
			all: unset;
		}

		trough {
			background: $surface1;

			border-radius: 8px;

			highlight {
				border-radius: 8px;
				padding: 2px;
				background: $sapphire;
			}
		}
	}

	.MediaControl {
		margin: 0 3px;
	}
}
